# Auth0 Configuration
AUTH0_DOMAIN=your-domain.auth0.com
AUTH0_CLIENT_ID=your-client-id
AUTH0_CLIENT_SECRET=your-client-secret
AUTH0_AUDIENCE=your-api-audience
AUTH0_SECRET=use-openssl-rand-hex-32-to-generate

# API Configuration
AUTH0_ISSUER_BASE_URL=https://your-domain.auth0.com